doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('Resources')

        .c-content
            p A few helpful links for frequently asked questions:
            ul
                li
                    a(
                        href='http://dor.wa.gov/Content/Home/Default.aspx'
                    ) Department of Revenue
                li
                    a(
                        href='https://www.esd.wa.gov'
                    ) Employment Security Department
                li
                    a(
                        href='http://www.lni.wa.gov'
                    ) Department of Labor and Industries
                li
                    a(
                        href='http://dor.wa.gov/Content/GetAFormOrPublication/FormBySubject/forms_LSUAlpha.aspx'
                    ) Sales Tax Rates for Washington State
                li
                    a(
                        href='https://www.irs.gov/businesses/small-businesses-self-employed'
                    ) Small Business and Self-Employed Tax Center (IRS)

